
.formContainer {
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



.profileButton {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
