.homepage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.usersListContainer {
    width:75vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 100px;
    padding: 100px;
}

img {
    width:100px;
    height: 100px;
}

.userContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px;
}

