.homepage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.usersListContainer {
    width:75vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 100px;
    padding: 100px;
}

img {
    width:100px;
    height: 100px;
    margin: 10px;
}

.userContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 20px;
    cursor: pointer;
}

.userDetails {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
}
 h6 {
     margin: 5px;
 }
