Form {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
}

.formItem {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}

.formButton, .formHeader {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}

button, input {
    border-radius: 5px;
}

input {
    width: 100px;
}

select {
    width: 100px;
}