nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin-bottom: 100px;
}


.link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

